.vscode
dist/css
dist/ui
dist/app.js
dist/app.js.map
dist/FrenteJS/frente.js.map

node_modules
index.html
tailwind.config.js
tsconfig.json

src/components
src/ui
src/app.ts
src/tailwind.css

package.json
package-lock.json
